nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.navbar h5 img {
  width: 100px;
  height: 30px;
}

ul {
  display: flex;
  justify-content: space-around;
  color: #000000;
  background-color: #ffffff;
  list-style: none;
  gap: 50px;
}

ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}
button {
  height: 30px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  padding: 2px 2px 2px 2px;
}
.banner {
  background-image: url(./Image/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  text-align: center;
}
.banner-content {
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
}
.paragraph-content {
  font-size: 20px;
  color: white;
  text-align: center;
  position: relative;
  max-width: 600px;
  z-index: 1;
}

.speaker-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.meet {
  display: flex;
  justify-content: center;
  font-style: bold;
}

.speaker-column {
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}
small {
  font-size: 12px;
  color: blue;
}
speaker-info {
  padding: 25px;
}
.speaker-info p {
  color: #6b7280;
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.price-card {
  background: #ffffff;
  border-radius: 15px;
  padding: 30px;
  border: 1px solid #e5e7eb;
}

.price-card ul {
  margin-bottom: 30px;
}

.price-card li {
  margin-bottom: 15px;
  color: #374151;
}
.back-black {
  margin-bottom: 15px;
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.center {
  text-align: center;
}
.center-s {
  text-align: center;
  color: #6b7280;
}
.highlight {
  color: #6b7280;
  text-align: left;
}
.highlight-blue {
  color: blue;
  text-align: left;
  margin: 10px;
}
.footer-design{
  display:grid;
   grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  background-color: e4e6ea;;
    
    color:blue;
    justify-content: space-between;
    padding:10px;
}
.footer-design img{
  width: 80px;
  height: 30px;
}

.footer-p{
text-align: center;
text-decoration: solid;
font: size 50px;;
}

.schedule{
    padding:80px 8%;
    background:#f8fafc;
}

.schedule h2{
    text-align:center;
    margin-bottom:30px;
    font-size:2rem;
}

.schedule-table{
    width:100%;
    border-collapse:collapse;
    text-align:center;
    font-size:12px;          /* Very small font */
}

.schedule-table th{
    background:#2563eb;
    color:#fff;
    padding:10px;
}

.schedule-table td{
    border:1px solid #ddd;
    padding:12px 8px;
    line-height:1.4;
}

.schedule-table tr:nth-child(even){
    background:#f9f9f9;
}

.schedule-table tr:hover{
    background:#eef4ff;
}